:root{
    --bordersearch-input : rgba(255, 255, 255, 0.2);
    --background-color-input: rgba(255, 255, 255, 0.1);
}

#container {
    z-index: -20;
    width: 100%;
    height: 100vh;

    background-image: url(../img/montanhacomgeloescurecida.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    width: 400px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 15px;
}

#searchContainer {
    width: 100%;
    height: 170px;
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerLogo {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
    width: 60px;
    height: 60px;
}

#containerLogo span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 5px;
}

#containerInputSearch {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 5px;
}

#inputShearch {
    padding: 0.8rem;
    width: 70%;
    background-color: var(--background-color-input);

    border-bottom: 1px solid var(--bordersearch-input);
    border-left: 1px solid var(--bordersearch-input);
    border-top: 1px solid var(--bordersearch-input);
    border-right: none;
    border-top-left-radius: 25px;
    border-end-start-radius: 25px;

    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.7);
}

#inputShearch:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#inputShearch::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

#button {
    padding: 1.4rem;

    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    border-bottom: 1px solid var(--bordersearch-input);
    border-right: 1px solid var(--bordersearch-input);
    border-top: 1px solid var(--bordersearch-input);

    background-color: var(--background-color-input);
    background-image: url('../img/searchwhite.png');
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

#divError {
    width: 88%;
    margin-top: 10px;
    margin-left: 30px;
    display: none;
    color: rgba(255, 255, 255, 0.76);

    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

#containerWeater {
    width: 80%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    border-top: 1px solid rgba(255, 255, 255, 0.4);

    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    z-index: -10;
}

#containerLocalization {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;

    margin-top: 20px;
}

#iconlocalization {
    width: 18px;
    height: 25px;
}

#cityName {
    font-size: 25px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;

}

#containerDateweater {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    font-family: 'Ubuntu', sans-serif;
}

#date {
    font-size: 16px;
    font-weight: 300px;
    color: rgba(255, 255, 255, 0.5);
}

#weater {
    font-size: 60px;
    font-weight: 300;
    color: #FFF;
}

#divDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#description {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Ubuntu', sans-serif;

}

#details {
    margin-top: 20px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF
}

#details div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#containerHumidity {
    border-right: 1px solid #FFF;
    padding-right: 20px;
}

#suggestion {
    width: 100%;
    height: auto;

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

    margin-top: 220px;

    opacity: 100;
    z-index: 100;
    visibility: visible;
    transition: all .2s;
}

#suggestion span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #FFF
}

#suggestion button {
    width: 120px;
    height: 40px;

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    color: #FFF;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;

    cursor: pointer;
    transition: all .4s;
}

#suggestion button:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
    background-color: rgb(255, 255, 255, 0.1);
    transform: scale(1.07);
}

#suggestion button:active {
    transform: scale(0.9);
}

#suggestion div {
    width: 80%;
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 400px){
    #searchContainer{
        margin-bottom: 20px;
    }
    #logo{
        width: 50px;
        height: 50px;
    }
    #inputShearch{
        width: 65%;
        padding: 0.6rem;
    }
    #button{
        padding: 1.2rem;
    }
    #iconlocalization{
        width: 18px;
        height: 2px;
    }
    #containerWeater{
        gap: 20px;
    }
}